# 완주하지 못한 선수

문제 설명
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

In [51]:
participant = ["mislav", "stanko", "mislav", "ana"]
completion = ["stanko", "ana", "mislav"]

In [52]:
import collections

def solution(participant, completion):
    answer = collections.Counter(participant) - collections.Counter(completion)
    return list(answer.keys())[0]

In [53]:
collections.Counter(participant)

Counter({'mislav': 2, 'stanko': 1, 'ana': 1})

In [54]:
collections.Counter(completion)

Counter({'stanko': 1, 'ana': 1, 'mislav': 1})

In [55]:
answer = collections.Counter(participant) - collections.Counter(completion)
answer

Counter({'mislav': 1})

In [58]:
list(answer.keys())[0]

'mislav'

In [48]:
solution(participant, completion)

'mislav'

# 전화번호 목록

전화번호부에 적힌 전화번호 중, 한 번호가 다른 번호의 접두어인 경우가 있는지 확인하려 합니다.
전화번호가 다음과 같을 경우, 구조대 전화번호는 영석이의 전화번호의 접두사입니다.

구조대 : 119
박준영 : 97 674 223
지영석 : 11 9552 4421
전화번호부에 적힌 전화번호를 담은 배열 phone_book 이 solution 함수의 매개변수로 주어질 때, 어떤 번호가 다른 번호의 접두어인 경우가 있으면 false를 그렇지 않으면 true를 return 하도록 solution 함수를 작성해주세요.

In [86]:
def solution(phoneBook):
    phoneBook = sorted(phoneBook)

    for p1, p2 in zip(phoneBook, phoneBook[1:]):
        if p2.startswith(p1):
            return False
    return True

phoneBook = ["119", "97674223", "1195524421"]
solution(phoneBook)

False

In [84]:
phoneBook = sorted(phoneBook)
phoneBook

['119', '1195524421', '97674223']

In [75]:
zip(phoneBook, phoneBook[1:])

In [85]:
for p1, p2 in zip(phoneBook, phoneBook[1:]):
#     print(p1, p2)
    if p2.startswith(p1):
        print("False")
    
print("True")

False
True

In [77]:
phoneBook = ["123","456","789"]
solution(phoneBook)

True

In [61]:
phoneBook = ["12","123","1235","567","88"]
solution(phoneBook)

False

# 위장

스파이들은 매일 다른 옷을 조합하여 입어 자신을 위장합니다.

예를 들어 스파이가 가진 옷이 아래와 같고 오늘 스파이가 동그란 안경, 긴 코트, 파란색 티셔츠를 입었다면 다음날은 청바지를 추가로 입거나 동그란 안경 대신 검정 선글라스를 착용하거나 해야 합니다.

종류	이름
얼굴	동그란 안경, 검정 선글라스
상의	파란색 티셔츠
하의	청바지
겉옷	긴 코트

스파이가 가진 의상들이 담긴 2차원 배열 clothes가 주어질 때 서로 다른 옷의 조합의 수를 return 하도록 solution 함수를 작성해주세요.

In [88]:
clothes = [["yellowhat", "headgear"], ["bluesunglasses", "eyewear"], ["green_turban", "headgear"]]

In [89]:
def solution(clothes):
    from collections import Counter
    from functools import reduce
    
    cnt = Counter([kind for name, kind in clothes])
    answer = reduce(lambda x, y: x*(y+1), cnt.values(), 1) - 1
    return answer

solution(clothes)

5

In [91]:
[kind for name, kind in clothes]

['headgear', 'eyewear', 'headgear']

In [90]:
from collections import Counter
from functools import reduce

cnt = Counter([kind for name, kind in clothes])
cnt

Counter({'headgear': 2, 'eyewear': 1})

In [93]:
cnt.values()

dict_values([2, 1])

In [98]:
# reduce : 여러 개의 데이터를 대상으로 주로 누적 집계를 내기 위해서 사용
# reduce(집계 함수, 순회 가능한 데이터, 초기값)
answer = reduce(lambda x, y: x*(y+1), cnt.values(), 1) - 1
answer

5

In [107]:
# (참고) reduce 함수 : iterable 객체의 누적합 구할 때 사용
from functools import reduce

def SumFunction(x, y):
    return x + y

print(reduce(SumFunction, list(range(1, 11)))) # 실행 결과: 55

55